
<!--　▼ ジャンボトロン　 -->
    <div class="jumbotron" style="background-image: url('https://s3-ap-northeast-1.amazonaws.com/restaurant-storage/catcafe.jpg'); width:100%; background-size: cover; height: 400px;">
      <div class="container" style="font-weight: bold;">
        <h1 style="font-weight: bold;">Catch Cafeへようこそ</h1>
        <h2>Catch Cafeでは、様々な動物のカフェを探すことができます。</h2>
        <h2>ぜひ、あなたにぴったりのカフェを探してみてはいかがでしょうか？</h2>

       
      </div>
    </div>
<!--　▲ ジャンボトロン　 -->


			<div class="row">
        <div class="col-md-12 col-sm-6">
            <hr>
            
            <h2>最新情報</h2>
            <h3>カワウソカフェが新宿にオープン/2018年6月1日</h3>
            <h3>ハリネズミカフェが六本木にオープン/2018年3月1日</h3>
            <p>新しいカフェを随時更新中</p>
      </div>
    </div>
       