<h1>人気カフェトップ３(Catch Cafe調べ)</h1>
<hr>
<br>
<div class="container">
	<h2>1位 カワウソもいるウサギカフェが新宿三丁目店</h2>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<img src="/assets/kawauso.jpg" class="img-responsive">
		</div>

		<div class="col-sm-8">
			<h3>カワウソが大人気</h3>
			<p>2018年5月にオープンし、綺麗な内装もあり、連日お客さんが多く来られているようです。外国のお客様も多いことから、事前に混雑状況を確認することをオススメいたします。</p>
		</div>

	</div>


	<hr  style="margin-top: 100px;margin-bottom: 50px;">
	<h2>2位 カハリネズミ専門カフェ ちくちくCAFE 東京・渋谷</h2>
		<div class="row">
		<div class="col-sm-4">
			<img src="/assets/harinezumi.jpg" class="img-responsive">
		</div>

		<div class="col-sm-8">
			<h3>手に持てるハリネズミが大好評</h3>
			<p>これまでなかなか触ることのなかったハリネズミが大人気。家で飼うことも難しいので、一度訪れたらやみつきになるという噂。</p>
		</div>

	</div>


		<hr  style="margin-top: 100px;margin-bottom: 50px;">
	<h2>3位 あうるぱーく　フクロウカフェ池袋/東京</h2>
		<div class="row">
		<div class="col-sm-4">
			<img src="/assets/fukurou.jpg" class="img-responsive">
		</div>

		<div class="col-sm-8">
			<h3>凛々しい目と小さいが圧倒されるフクロウ</h3>
			<p>おやつの時間には、エサをあげられることもあり、多くのお客様が訪れる。その爪は鋭くかっこいいと大人気。</p>
		</div>

	</div>


</div>

